#sentence {
    font-family: 'Indie Flower', cursive; 
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: -200px;
    font-size: 0;
    transition: all 2s;
    opacity: 0;
    text-align: center;
}