body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #5f8dd7b2;
}

#origami-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.origami {
    position: absolute;
    width: 150px; 
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: transform 0.5s ease;
}

.origami:nth-child(1) {
    animation-name: float1;
    left: 2%; /* panda */
    top: 10%;
}

.origami:nth-child(2) {
    animation-name: float2;
    left: 22.5%; /* cat */
    top: 10%;
}

.origami:nth-child(3) {
    animation-name: float3;
    left: 45%; /* crane */
    top: 15%;
}

.origami:nth-child(4) {
    animation-name: float4;
    right: 22.5%; /* fox */
    top: 10%;
}

.origami:nth-child(5) {
    animation-name: float5;
    right: 2%; /* squirrel */
    top: 10%;
}


#sentence {
    font-family: 'Indie Flower', cursive; 
    font-size: 0;
    font-weight: bold;
    position: absolute;
    bottom: -150px;
    transition: all 2s;
    top: 16rem;
    opacity: 0;
    text-align: center;
    z-index: 2;
}

/* Style for the Fireworks button */
#fireworksButton {
  font-family: 'Indie Flower', cursive; 
  background-color: #e7674a; /* Button background color */
  color: white; 
  border: none;
  top: 12rem;
  left: 45rem;
  padding: 10px 50px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  z-index: 3;
}

/* Hover effect for the button */
#fireworksButton:hover {
  background-color: #ff3300; /* Change background color on hover */
  transform: translateY(-5px); /* Move the button up slightly on hover */
}



/* Carousel */
.carousel {
    position: relative;
    max-width: 600px; /* Adjust as needed */
    height: 400px; /* Set a fixed height for the container */
    margin: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    overflow: hidden;
    top: 16.5rem;
  }
  
  .carousel__images {
    display: flex; /* Arrange images in a row */
    transition: transform 0.5s ease; /* Animate the transform property over 0.5 seconds */
    width: 100%;
    height: 100%; /* Set to the desired height */
  }
  
  .carousel__image {
    width: 100%; /* Each image takes full width of the container */
    object-fit: cover; /* Use cover to fill the area, might crop the image */
    flex: 0 0 auto; /* Prevents the image from stretching or shrinking */
  }
  
  
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5); /* Semi-transparent black background */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px; /* Adjust size as needed */
    z-index: 100;
    border-radius: 10px; /* Rounded corners for square shape */
    width: 40px; /* Width for square shape */
    height: 40px; /* Height for square shape */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes underline from links if these are anchor tags */
  }
  
  .carousel__button--left {
    left: 10px;
  }
  
  .carousel__button--right {
    right: 10px;
  }
  
  /* Optional: Add hover effect for buttons */
  .carousel__button:hover {
    background-color: rgba(0,0,0,0.8); /* Darker background on hover */
  }
  
  
  /* Title and caption */
  .carousel__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-align: left;
    font-size: 18px; /* Adjust size as needed */
    font-family: 'Helvetica', sans-serif; /* Modern font */
  }
  
  /* Caption title */
  .carousel__caption-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Caption subtitle */
  .carousel__caption-subtitle {
    font-size: 14px;
    font-style: italic;
  }
  
  /* Thumbnails */
  .carousel__thumbnails {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .carousel__thumbnail {
    display: inline-block;
    margin: 0 5px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: white; /* Placeholder for thumbnails */
    border-radius: 10px; /* Rounded corners for thumbnails */
  }
  
  /* Counter */
  .carousel__counter {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: 'Helvetica', sans-serif;
  }  
  